* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    height: 100vh;
    background: url(/img/bg1.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 65px;
}
.menu {
    width: 1425px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 60px;
    left: 241px;
}
.menu__logo {
    font-family: 'Bangers', cursive;
    font-size: 25px;
    color: #e4c411;
    letter-spacing: 3px;
}
.section {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top:calc(50% - 70px) ;
    width: 920px;
    height: 140px;

}
.about {
    text-align: center;
}
.about__title {
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    margin-bottom: 50px;
}

.about__subtitle {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 75px;
    font-weight: 1200;
    text-transform: uppercase;
}
.menu__items a {
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
}
.item-menu {
    padding: 40px;
    
}
.item-menu:hover {
    transition: all .65s;
    color:  #e4c411;;
}
/* <!-- SERVICE --> */
.serviceTop {
    margin-top: 120px;
    margin-bottom: 65px;
    /* width: 300px; */
    margin: 0 auto;
}                                                                       
.about__title1 {
    color: #222222;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    text-align: center;
}
.about__subtitle1 {
     color: #777777;
    font-family: "Droid Serif";
    font-size: 16px;
    text-align: center;
    margin-bottom: 80px;
}
.title {
    color: #222222;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    text-align: center;
}
.suptitle {
    color: #777777;
    font-family: "Droid Serif";
    font-size: 16px;
    text-align: center;
    margin-bottom: 80px;
}

.serviceDown {
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.serviceDown__item {
    text-align: center;
    width: 274px;
    margin-bottom: 240px;
}
.serviceDown__title {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    margin-top: 28px;
}

.serviceDown__subtitle {
    color: #777;
    font-family: "Droid Serif";
    font-size: 14px;
    font-weight: 400;
    margin-top: 18px;

}
.section-portfolio {
    width: 100%;
    height: 1010px;
    margin-bottom: 240px;
}
.portfolio__duo {
    width: 620px;
    display: flex;
    justify-content: space-between;
}
.portfolio {
    position: absolute;
    left: calc(50% - 310px) ;
    margin-bottom: 240px;
}
.portfolio__item {
    text-align: center;
}
.portfolio__title {
    margin-top: 28px;
    color: #333333;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}
.portfolio__suptitle {
    margin-top: 7px;
    margin-bottom: 80px;
    color: #737373;
    font-family: "Droid Serif";
    font-size: 14px;
}

.divd {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 0;
}

.about {
    margin-bottom: 85px;
}
.lampa__item {
    width: 525px;
    display: flex;
    align-items: center;
}
.revers {
    flex-direction: row-reverse;
}
.lampa {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lampa__title {
    margin-right: 20px;
    margin-left: 20px;
    color: #777777;
    font-family: "Droid Serif";
    font-size: 14px;
    font-weight: 400;
}
